= render 'home/partials/header'

= render 'home/partials/navigation'

= render 'home/partials/features'

= render 'home/partials/schedule'

= render 'home/partials/information'

= render 'home/partials/action_panel', text: t('home.index.information.sign_up.text'), button: information_sign_up_button, small_button: information_sign_up_button(small: true)

= render 'home/partials/faq'

= render 'home/partials/team'

= render 'home/partials/sponsors'

= render 'home/partials/action_panel', text: t('home.index.sponsors.contact.header'), button: be_sponsor_button, small_button: be_sponsor_button(small: true)

= render 'home/partials/location'
