= render 'home/partials/header'

= render 'home/partials/navigation'

= render 'home/partials/features'

= render 'home/partials/schedule'

= render 'home/partials/information'

= render 'home/partials/action_panel', text: t('home.index.information.sign_up.text'), button: link_to(t('home.index.information.sign_up.button'), sign_up_link, target: '_blank', class: 'button radius')

= render 'home/partials/faq'

= render 'home/partials/team'

= render 'home/partials/sponsors'

= render 'home/partials/action_panel', text: t('home.index.sponsors.contact.header'), button: mail_to('railsgirlssb@gmail.com', t('home.index.sponsors.contact.button'), subject: t('home.index.sponsors.contact.subject'), encode: 'javscript', class: 'button radius')

= render 'home/partials/location'
