.row
  .large-12.columns
    %section.faq.clearfix
      %h3= t('home.index.faq.header')

      %p
        %strong= t('home.index.faq.costs.header')
        %br
        = t('home.index.faq.costs.content')

      %p
        %strong= t('home.index.faq.target_audience.header')
        %br
        = t('home.index.faq.target_audience.content')

      %p
        %strong= t('home.index.faq.men_attending.header')
        %br
        = t('home.index.faq.men_attending.content')
