- content_for :header do
  .row
    .columns.large-4.medium-4.hide-for-small-only.logo
      = image_tag 'header-logo.png', alt: 'Logo'

    .columns.large-8.medium-8.small-12
      .header-content
        %h1
          = t('home.index.header')
          %br
          %small= t('home.index.sub_header')

        %h2= t('home.index.welcome.header')

        %p= t('home.index.welcome.content')
        %p.hide-for-small-only= sign_up_button
        %p.show-for-small-only= sign_up_button(small: true)
