- content_for :header do
  .row
    .columns.large-4.medium-4.hide-for-small-only.logo
      = image_tag 'header-logo.png', alt: 'Logo'

    .columns.large-8.medium-8.small-12
      %div
        %h1{ data: { magellan: { destination: 'home' } } }
          = t('home.index.header')
          %br
          %small= t('home.index.sub_header')

        %h2= t('home.index.welcome.header')

        %p= t('home.index.welcome.content')
        %p= link_to t('home.index.welcome.sign_up'), sign_up_link, target: '_blank', class: 'button radius'
