.row{ id: i18n_link_id_for_anchor('information'), data: { magellan: { destination: 'information' } } }
  .large-12.columns
    %section.information.clearfix
      %h3= t('home.index.information.header')

      %p
        %strong= t('home.index.information.applications_open.header')
        = t('home.index.information.applications_open.content')
        %br

        %strong= t('home.index.information.application_deadline.header')
        = t('home.index.information.application_deadline.content')
        %br

        %strong= t('home.index.information.acceptances_informed.header')
        = t('home.index.information.acceptances_informed.content')

      %p
        %strong= t('home.index.information.location.header')
        = link_to t('home.index.information.location.map'), i18n_link_anchor('location')
