.row{ id: i18n_link_id_for_anchor('sponsors') }
  .columns.large-12
    %section.sponsors.clearfix
      %h3= t('home.index.sponsors.header')

      %ul
        %li= link_to image_tag('sponsors/avarteq.png', alt: 'Avarteq'), 'http://www.avarteq.de', target: '_blank'
        %li= link_to image_tag('sponsors/github.png', alt: 'Github'), 'https://github.com/', target: '_blank'
        %li= link_to image_tag('sponsors/ligatura.png', alt: 'Ligatura'), 'http://www.ligatura.co/', target: '_blank'
        %li= link_to image_tag('sponsors/experts-inside.jpg', alt: 'Experts Inside'), 'http://www.experts-inside.com/', target: '_blank'
