.row{ id: i18n_link_id_for_anchor('team'), data: { magellan: { destination: 'team' } } }
  .columns.large-12
    %section.team
      .row
        %h3= t('home.index.team.header')

        - team_members.each do |team_member|
          .columns.large-4.medium-6.small-12.large-uncentered.medium-uncentered.small-centered
            .team__member
              = image_tag team_member[:image], class: 'team__member__image'
              .team__member__content
                %span.team__member__name= team_member[:name]
                %br
                %i= team_member[:role]
                %div
                  = twitter_icon_link(team_member[:twitter])
                  = github_icon_link(team_member[:github])
