%footer.footer
  .row
    .columns.large-8.medium-12
      %ul.footer__links
        %li= link_to t('layout.footer.navigation.home'), root_path
        %li= link_to t('layout.footer.navigation.legal_info'), '/legal_info'
        %li= link_to 'railsgirls.com', 'http://railsgirls.com', target: '_blank'

      %small.footer__copyright
        &copy; 2015 Rails Girls Saarbrücken

    .columns.large-4.medium-12.footer__social-media
      = mail_to 'railsgirlssb@gmail.com', round_icon('envelope', size: '2x'), encode: 'javascript', class: 'icon-email'
      = twitter_icon_link('RailsGirlsSB', size: '2x')
      = facebook_icon_link('RailsGirlsSB', size: '2x')
      = github_icon_link('railsgirlssb', size: '2x')
