%meta{ 'http-equiv' => 'X-UA-Compatible', content: 'IE=edge' }
%meta{ 'http-equiv' => 'content-type', content: "text/html; charset=UTF-8" }
%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1.0' }
%link{ rel: "shortcut icon", href: "/assets/favicon.ico" }
%link{ rel: 'apple-touch-icon', href: '/assets/apple-touch-icon.png' }
%link{ rel: 'apple-touch-icon', sizes: '72x72', href: '/assets/apple-touch-icon-72x72.png' }
%link{ rel: 'apple-touch-icon', sizes: '114x114', href: '/assets/apple-touch-icon-114x114.png' }
%link{ rel: 'apple-touch-icon', sizes: '144x144', href: '/assets/apple-touch-icon-144x144.png' }

%title= t('layout.head.title')
%meta{ name: 'description', content: t('layout.head.description') }
%meta{ name: 'keywords', content: t('layout.head.keywords') }
%meta{ name: 'author', content: 'Rails Girls' }
%meta{ property: 'og:title', content: '' }
%meta{ property: 'og:description', content: '' }
%meta{ property: 'og:url', content: '' }
%meta{ property: 'og:image', content: "#{asset_url('header-logo.png')}" }
%meta{ name: 'format-detection', content: 'telephone=no' }
%meta{ name: 'format-detection', content: 'address=no' }


= stylesheet_link_tag 'application', media: 'all'
= stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400italic,400,700'
= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'

= csrf_meta_tags
