= javascript_include_tag 'application', 'data-turbolinks-track' => true
/[if lt IE 9]
  = javascript_include_tag 'libs/html5.js'
  = javascript_include_tag 'libs/respond.js'

= javascript_include_tag 'libs/library.js'
= javascript_include_tag 'libs/script.js'
= javascript_include_tag 'libs/retina.js'
= javascript_include_tag 'vendor/modernizr'
